/*font for the entire website*/
body {
  background-color:#e5eff0;
  font-weight: 400;
  font-family: 'Muli','san-serif';
  font-size: 0.625em;
}

/*how to get 2 different colours for navigation and logo for 2 different pages?*/

/*logo styling*/
/*another font family for the logo*/


/*nav styling*/
header nav ul{
  display:flex;
}

header nav ul li {
  list-style: none;
  font-size: 1.8em;
  color:#ffffff;
  display:inline;
  justify-content: space-between;
}

header nav ul li a{
  text-decoration: none;
  color:#ffffff;
}

header nav ul li a:hover{
  text-decoration: underline;
}

.selectednav{
  text-decoration:underline;
}

/*centralize website*/
.container{
  width:100%;
  margin:0 auto;
  padding:0px;
}

.logo{
  display:block;
  margin:auto;
}

/*home page style*/
#homebackground{
  background: url(../images/background.jpg) no-repeat top center fixed;
  background-size: cover;
  padding:0px;
}

header p{
  width:40%;
  font-size:2em;
  color:#fff;
  text-align: center;
  margin: auto;
  padding:250px 100px;

}
/*works page style*/
.placeholder {
  width:25%;
  background-color: blue;
}

/*about page style*/


/*placeholders for home page thumbnails*/

/*hover styling for thumbnails*/
